
.even {
    background-color: #395159;
    color: #efefef;
    /* cursor: pointer; */
}

.even:hover {
    filter: brightness(1.4);
}

.odd {
    background-color: #23303d;
    color: #efefef;
    /* cursor: pointer; */
}

.odd:hover {
    filter: brightness(1.4);
}

.btn-new {
    color: #efefef;
    background-color: #23303d;
    border-color: #395159;
}

.btn-new:hover {
    filter: brightness(1.4);
}

.post {
    white-space:pre-wrap;
}