<h1>Rules!</h1>

<p>LetsGoRip is a platform for likeminded individuals to locate and gather for legal off-road fun. We are all looking to have a good safe time.</p>

<h2>Threats of violence and incitement</h2>

<p>We do not allow content or actions that threaten, encourage, or incite violence against anyone, directly or indirectly.</p>


<h2>Hateful content</h2>

<p>We do not allow content that constitutes or promotes violence, harassment, or hatred against people based on characteristics like race, ethnicity, national origin, religion, caste, disability, disease, age, sexual orientation, gender, or gender identity.</p>

<p>We do not allow posts or accounts that glorify, celebrate, downplay, or trivialize violence, suffering, abuse, or deaths of individuals or groups. This includes the use of scientific or pseudoscientific claims or misleading statistics to pathologize, dehumanize, or disempower others. We do not allow calls for intolerance, exclusion, or segregation based on protected characteristics, nor do we allow the glorification of groups which do any of the above.</p>

<p>We do not allow hateful text, images, symbols, or other content, including in your username, profile, or bio.</p>

<h2>Harassment</h2>

LGR exists to share and discuss ideas. We don't tolerate harassment, which includes:
<ul>
    <li>Bullying, threatening, mocking, or shaming someone, or posting things likely to encourage others to do so</li>
    <li>Engaging in a repetitive or targeted campaign of harassment against someone or a group of people</li>
    <li>Using derogatory language, racial slurs, or obscenities to disparage or attack someone or a group of people</li>
    <li>Using Medium features like responses, private notes, mentions, follows, story requests, or writer requests in a way that attempts to or does annoy or harass someone, or to draw inorganic attention to your content on Medium</li>
    <li>Reviewing businesses or products in a gratuitously harmful or abusive manner</li>
</ul>
